1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

*  Expression

'hello' - Value - String

-87.8 - Value - Float

-  Expression

/  Expression

+   Expression

6   Value - Integer

2. What is the difference between string and variable?

A. A variable can be assigned values. It stores values in memory

A string is a sequence of characters placed inside quotes.

3. Describe three different data types.
 
 a. Numeric Data - It's a data type which has numeric value - it contains integer, float and complex numbers
   - Integers - positive or negative whole numbers eg - 3
   
   - Float - Numbers with a decimal point eg- 89.50
   
   - Complex numbers - Numbers with complex classes - with real part and imaginary part. eg- 7+8k
   
b. String Data Type - Collection of unicode characters - one or more characters wrapped in a quatation mark, double or triple quotes eg - "hey"

c. Set Data type - Unordered collection of items. Every element in set is exclusive.

In [7]:
set = {3,4,5,6,7,5,44,4,6,7,5,7,5}

In [8]:
set

{3, 4, 5, 6, 7, 44}

4. What is an expression made up of? What do all expressions do?

An expression is a combination of operators and operands. 

All expressions evaluate to a value

5.This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

An Expression is a sequence or combination of values, variables, operators and function calls that always produces or returns a result value.

A statement is an instruction that a python interpreter can execute

In [ ]:
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [9]:
bacon = 22
bacon + 1

23

In [12]:
bacon

22

In [ ]:
The variable bacon contains the integer 22

In [ ]:
7. What should the values of the following two terms be?

In [14]:
'spam'+'spamspam'

'spamspamspam'

In [15]:
'spam'*3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

In python, a variable cannot start with a number. that is why 100 is not a valid variable name

9 What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [ ]:
int()
float()
str()

In [18]:
a = 10

In [19]:
int(a)

10

In [22]:
float(a)

10.0

In [24]:
str(a)

'10'

10. Why does this expression cause an error? How can you fix it?

In [25]:
'i have eaten'+ 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

It shows an error because concatenation cannot be done between string and integer

In [27]:
'i have eaten'+' 99 '+'burritos'

'i have eaten 99 burritos'